
# port of server

PORT=9999


# reference to certificates

SSL_KEY="./certificates/openssl/client-key.pem"
SSL_CERT="./certificates/openssl/client-cert.pem"
SSL_CA="./certificates/openssl/client.csr"


# keys to sign various session objects

EXPRESS_SESSION_SECRET='mysecret123'
JWT_SECRET='mysecret123'

# API route access (unused)
# API_USER=''
# API_KEY=''


# Token to enable registration

REGISTRATION_KEY='mysecret123'
